@media screen and (max-width: 824px) {
    div#quizmania {
        background: rgb(74, 243, 74);
        background-image: url('../img/titulo_verde.png');
        text-align: center;
        min-width: 320px;
        max-width: 1300px;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        margin-top: 10px;
        border-radius: 20px;
        font-family: 'Pacifico', cursive;
        font-size: 15pt;
        box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.664);

    }

    h1 {
        text-align: center;
        margin-top: -10px;
    }

    button#alt1 {
        background-color: #D3D3D3;
        max-width: 370px;
        height: 90px;
        border-radius: 20px;
        margin-top: 10px;
        box-shadow: -5px 5px 5px black;
        font-size: 13pt;
        font-family: 'Pacifico', cursive;
        cursor: pointer;
    }

    button#alt2 {
        background-color: #D3D3D3;
        max-width: 370px;
        height: 90px;
        border-radius: 20px;
        box-shadow: -5px 5px 5px black;
        font-size: 13pt;
        font-family: 'Pacifico', cursive;
        cursor: pointer;
    }

    button#alt3 {
        background-color: #D3D3D3;
        max-width: 370px;
        height: 90px;
        border-radius: 20px;
        box-shadow: -5px 5px 5px black;
        font-size: 13pt;
        font-family: 'Pacifico', cursive;
        cursor: pointer;
    }

    button#alt4 {
        background-color: #D3D3D3;
        max-width: 370px;
        height: 90px;
        border-radius: 20px;
        box-shadow: -5px 5px 5px black;
        font-size: 13pt;
        font-family: 'Pacifico', cursive;
        cursor: pointer;
    }
}

@media screen and (max-width:782px) {
    div#quizmania {
        background: rgb(74, 243, 74);
        background-image: url('../img/titulo_verde.png');
        text-align: center;
        min-width: 320px;
        max-width: 1300px;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        margin-top: 10px;
        border-radius: 20px;
        font-family: 'Pacifico', cursive;
        font-size: 14.0pt;
        box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.664);

    }

    h1 {
        text-align: center;
        margin-top: -10px;
    }
}

@media screen and (max-width: 752px) {
    div#quizmania {
        background: rgb(74, 243, 74);
        background-image: url('../img/titulo_verde.png');
        text-align: center;
        min-width: 320px;
        max-width: 1300px;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        margin-top: 10px;
        border-radius: 20px;
        font-family: 'Pacifico', cursive;
        font-size: 13pt;
        box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.664);

    }

    h1 {
        text-align: center;
        margin-top: -10px;
    }

    button#alt1 {
        background-color: #D3D3D3;
        max-width: 300px;
        height: 90px;
        border-radius: 20px;
        margin-top: 10px;
        box-shadow: -5px 5px 5px black;
        font-size: 13pt;
        font-family: 'Pacifico', cursive;
        cursor: pointer;
    }

    button#alt2 {
        background-color: #D3D3D3;
        max-width: 300px;
        height: 90px;
        border-radius: 20px;
        box-shadow: -5px 5px 5px black;
        font-size: 13pt;
        font-family: 'Pacifico', cursive;
        cursor: pointer;
    }

    button#alt3 {
        background-color: #D3D3D3;
        max-width: 300px;
        height: 90px;
        border-radius: 20px;
        box-shadow: -5px 5px 5px black;
        font-size: 13pt;
        font-family: 'Pacifico', cursive;
        cursor: pointer;
    }

    button#alt4 {
        background-color: #D3D3D3;
        max-width: 300px;
        height: 90px;
        border-radius: 20px;
        box-shadow: -5px 5px 5px black;
        font-size: 13pt;
        font-family: 'Pacifico', cursive;
        cursor: pointer;
    }
}

@media screen and (max-width: 683px) {
    div#quizmania {
        background: rgb(74, 243, 74);
        background-image: url('../img/titulo_verde.png');
        text-align: center;
        min-width: 320px;
        max-width: 1300px;
        height: 80px;
        margin-left: 25px;
        padding-top: 10px;
        margin-top: 10px;
        border-radius: 20px;
        font-family: 'Pacifico', cursive;
        font-size: 12pt;
        box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.664);

    }

    h1 {
        text-align: center;
        margin-top: -10px;
    }

    div#questoes {
        /*background-color: rgb(146, 146, 145);*/
        max-width: 200px;
        height: 470px;
        margin-left: 230px;
        margin-right: auto;
        margin-top: 10px;
        padding-top: 1px;
        padding-left: 7px;
    }

    div#perguntaDescri {
        background-color: rgb(245, 228, 79);
        color: rgb(7, 7, 7);
        text-align: center;
        max-width: 220px;
        height: 470px;
        border-radius: 10px;
        box-shadow: 2px 2px 6px rgb(8, 8, 8);
        font-family: 'Pacifico', cursive;
        font-size: 20pt;
        margin-top: 10px;
        margin-left: auto;
        float: left;
    }

    button#alt1 {
        background-color: #D3D3D3;
        max-width: 300px;
        height: 90px;
        border-radius: 20px;
        margin-top: 10px;

        box-shadow: -5px 5px 5px black;
        font-size: 13pt;
        font-family: 'Pacifico', cursive;
        cursor: pointer;
    }

    button#alt2 {
        background-color: #D3D3D3;
        max-width: 300px;
        height: 90px;
        border-radius: 20px;
        box-shadow: -5px 5px 5px black;
        font-size: 13pt;
        font-family: 'Pacifico', cursive;
        cursor: pointer;
        /*margin-left: -100px;*/
    }

    button#alt3 {
        background-color: #D3D3D3;
        max-width: 300px;
        height: 90px;
        border-radius: 20px;
        box-shadow: -5px 5px 5px black;
        font-size: 13pt;
        font-family: 'Pacifico', cursive;
        cursor: pointer;
        /*margin-left: -100px;*/
    }

    button#alt4 {
        background-color: #D3D3D3;
        max-width: 300px;
        height: 90px;
        border-radius: 20px;
        box-shadow: -5px 5px 5px black;
        font-size: 13pt;
        font-family: 'Pacifico', cursive;
        cursor: pointer;
        /*margin-left: -100px;*/
    }

    p#mensagemPont {
        font-family: normal Arial;
        font-size: 23pt;
        text-align: justify;
        margin-top: 90px;
    }
}

@media screen and (max-width:657px) {
    div#quizmania {
        background: rgb(74, 243, 74);
        background-image: url('../img/titulo_verde.png');
        text-align: center;
        min-width: 320px;
        max-width: 1300px;
        height: 80px;
        margin-left: 25px;
        padding-top: 10px;
        margin-top: 10px;
        border-radius: 20px;
        font-family: 'Pacifico', cursive;
        font-size: 12pt;
        box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.664);

    }

    h1 {
        text-align: center;
        margin-top: -20px;
    }
}

@media screen and (max-width:621px) {
    h1 {
        text-align: center;
        margin-top: -20px;
    }
}

@media screen and (max-width: 568px) {
    div#quizmania {
        background: rgb(74, 243, 74);
        background-image: url('../img/titulo_verde.png');
        text-align: center;
        min-width: 320px;
        max-width: 1300px;
        height: 80px;
        margin-left: 25px;
        padding-top: 10px;
        margin-top: 10px;
        border-radius: 20px;
        font-family: 'Pacifico', cursive;
        font-size: 10pt;
        box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.664);

    }

    h1 {
        text-align: center;
        margin-top: -10px;
    }

    button#alt1 {
        background-color: #D3D3D3;
        max-width: 210px;
        height: 90px;
        border-radius: 20px;
        margin-top: 10px;
        box-shadow: -5px 5px 5px black;
        font-size: 13pt;
        font-family: 'Pacifico', cursive;
        cursor: pointer;
    }

    button#alt2 {
        background-color: #D3D3D3;
        max-width: 210px;
        height: 90px;
        border-radius: 20px;
        box-shadow: -5px 5px 5px black;
        font-size: 13pt;
        font-family: 'Pacifico', cursive;
        cursor: pointer;
    }

    button#alt3 {
        background-color: #D3D3D3;
        max-width: 210px;
        height: 90px;
        border-radius: 20px;
        box-shadow: -5px 5px 5px black;
        font-size: 13pt;
        font-family: 'Pacifico', cursive;
        cursor: pointer;
    }

    button#alt4 {
        background-color: #D3D3D3;
        max-width: 210px;
        height: 90px;
        border-radius: 20px;
        box-shadow: -5px 5px 5px black;
        font-size: 13pt;
        font-family: 'Pacifico', cursive;
        cursor: pointer;
    }
}

@media screen and (max-width: 474px) {
    div#quizmania {
        background: rgb(74, 243, 74);
        background-image: url('../img/titulo_verde.png');
        text-align: center;
        min-width: 320px;
        max-width: 1300px;
        height: 80px;
        margin-left: 25px;
        padding-top: 10px;
        margin-top: 10px;
        border-radius: 20px;
        font-family: 'Pacifico', cursive;
        font-size: 10pt;
        box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.664);
    }

    h1 {
        text-align: center;
        margin-top: -10px;
    }

    div#secao {
        background-color: rgb(175, 4, 4);
        min-width: 320px;
        max-width: 800px;
        height: 630px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 14px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        border-radius: 20px;
        box-shadow: 5px 5px 6px black;
    }

    div#questoes {
        /*background-color: rgb(146, 146, 145);*/
        max-width: 310px;
        height: 460px;
        margin-left: auto;

        margin-top: 170px;
        padding-top: 1px;
        padding-left: 7px;
    }

    div#perguntaDescri {
        background-color: rgb(245, 228, 79);
        color: rgb(7, 7, 7);
        text-align: center;
        max-width: 600px;
        height: 180px;
        border-radius: 10px;
        box-shadow: 2px 2px 6px rgb(8, 8, 8);
        font-family: 'Pacifico', cursive;
        font-size: 20pt;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        float: left;
    }

    button#alt1 {
        background-color: #D3D3D3;
        max-width: 240px;
        height: 90px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 10%;
        box-shadow: -5px 5px 5px black;
        font-size: 13pt;
        font-family: 'Pacifico', cursive;
        cursor: pointer;
    }

    button#alt2 {
        background-color: #D3D3D3;
        max-width: 240px;
        height: 90px;
        border-radius: 20px;
        box-shadow: -5px 5px 5px black;
        font-size: 13pt;
        font-family: 'Pacifico', cursive;
        cursor: pointer;
        margin-left: -100px;
        margin-left: 10%;
    }

    button#alt3 {
        background-color: #D3D3D3;
        max-width: 240px;
        height: 90px;
        border-radius: 20px;
        box-shadow: -5px 5px 5px black;
        font-size: 13pt;
        font-family: 'Pacifico', cursive;
        cursor: pointer;
        margin-left: -100px;
        margin-left: 10%;
    }

    button#alt4 {
        background-color: #D3D3D3;
        max-width: 240px;
        height: 90px;
        border-radius: 20px;
        box-shadow: -5px 5px 5px black;
        font-size: 13pt;
        font-family: 'Pacifico', cursive;
        cursor: pointer;
        margin-left: -100px;
        margin-left: 10%;
    }

    strong#pontos {

        font-size: 70pt;
        margin-top: -60px;
        padding: 40px;

    }

    p#mensagemPont {
        font-family: normal Arial;
        font-size: 23pt;
        text-align: justify;
        margin-top: 30px;
    }
}