@media screen and (max-width: 683px){
    div#quizmania{
        background-color: rgb(74, 243, 74);
        background-image: url('../img/titulo_verde.png');
        text-align: center;
        min-width: 320px;
        max-width: 1300px;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        padding-top: 10px;
        border-radius: 20px;
        font-family: 'Pacifico', cursive;
        font-size: 30px;
        box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.664);
    
    }
    h1{
        text-align: center;
        margin-top: -10px;
    }
    div#secao{
        max-width: 300px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 200px;
    }
    input#iniciar{
        background-color: #D3D3D3;
        /*margin-top: 30%;
        margin-left: auto;
        margin-right: auto;*/
        max-width: 300px;
        height: 100px;
        border-radius: 200px;
        font-family: 'Pacifico', cursive;
        font-size: 50px;
        box-shadow: 3px 4px 2px rgb(7, 7, 7);
        cursor: pointer;
    }
}
@media screen and (max-width:568px){
    
}
@media screen and (max-width: 320px){
    div#quizmania{
        background-color: rgb(74, 243, 74);
        background-image: url('../img/titulo_verde.png');
        text-align: center;
        min-width: 300px;
        max-width: 1300px;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        padding-top: 10px;
        border-radius: 20px;
        font-family: 'Pacifico', cursive;
        font-size: 20px;
        box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.664);
    
    }
    h1{
        text-align: center;
        margin-top: 7px;
    }
    div#secao{
        max-width: 300px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 200px;
    }
    input#iniciar{
        background-color: #D3D3D3;
        /*margin-top: 30%;
        margin-left: auto;
        margin-right: auto;*/
        max-width: 300px;
        height: 100px;
        border-radius: 200px;
        font-family: 'Pacifico', cursive;
        font-size: 50px;
        box-shadow: 3px 4px 2px rgb(7, 7, 7);
        cursor: pointer;
    }
}