/* 
Folha de estilo que configura o arquivo questoes.html
*/

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');
body{
    background-color: rgb(136, 32, 184);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}
div#mascote{
    background-color: rgb(248, 245, 48);
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-top: -130px;
    border-radius: 10px;
    box-shadow: 5px 5px 2px black;
}

div#quizmania{
    background: rgb(74, 243, 74);
    background-image: url('../img/titulo_verde.png');
    text-align: center;
    min-width: 320px;
    max-width: 1300px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    margin-top: 10px;
    border-radius: 20px;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.664);

}
h1{
    text-align: center;
    margin-top: -10px;
}
div#secao{
    background-color: #807b7b;
    min-width: 320px;
    max-width: 800px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 6px black;
}

div#questao{
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    text-align: center;
    max-width: 290px;
    height: 470px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgb(8, 8, 8);
    font-family: normal Arial;
    font-size: 20pt;
    margin-top: 10px;
    float:right;
}

div#alternativas{
    width: 470px;
    height: 470px;
    margin-top: 10px;
    padding-top: 1px;
    padding-left: 7px;
}

button#alt1{
    background-color: white;
    color: black;
    width: 440px;
    height: 90px;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: -5px 5px 5px black;
    font-family: normal Arial;
    font-size: 20pt;
    cursor: pointer;
}

button#alt2{
    background-color: white;
    color: black;
    width: 440px;
    height: 90px;
    border-radius: 20px;
    box-shadow: -5px 5px 5px black;
    font-family: normal Arial;
    font-size: 20pt;
    cursor: pointer;
}

button#alt3{
    background-color: white;
    color: black;
    width: 440px;
    height: 90px;
    border-radius: 20px;
    box-shadow: -5px 5px 5px black;
    font-family: normal Arial;
    font-size: 20pt;
    cursor: pointer;
}

button#alt4{
    background-color: white;
    color: black;
    width: 440px;
    height: 90px;
    border-radius: 20px;
    box-shadow: -5px 5px 5px black;
    font-family: normal Arial;
    font-size: 20pt;
    cursor: pointer;
}

img#imgQuestao10{
    max-width: 280px;
    height: 225;
    margin-top: 4px;
    border-radius: 10px;
}

strong#pontos{
 font-size: 100pt;
 margin-top: 10px;
padding: 80px;
}

p#mensagemPont{
    color: white;
    font-size: 30pt;
    font-family: 'Sedgwick Ave', cursive;
    margin-top: 100px;
}

a{
    color:black;
    text-decoration: none;
}

div#rodape{
    background: chocolate;
}