@media screen and (max-width: 320px){
   
    div#quizmania{
        background-color: rgb(74, 243, 74);
        background-image: url('../img/titulo_verde.png');
        background-size: cover;
        text-align: center;
        min-width: 300px;
        max-width: 1300px;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        border-radius: 20px;
        font-family: 'Pacifico', cursive;
        font-size: 20px;
        box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.664);
    
    }
    h1{
        text-align: center;
        margin-top: 7px;
    }
    div#secao{

        width: 300px;
        height: 440px;
        margin-left: auto;
        margin-right: auto;
        
    }
    
    
    input#categoria{
        background-color: #D3D3D3;
        margin-top: 6%;
        width: 300px;
        height: 100px;
        border-radius: 90px;
        font-family: 'Pacifico', cursive;
        font-size: 50px;
        box-shadow: 3px 4px 2px rgb(7, 7, 7);
        cursor: pointer;
    }
    
    input#creditos{
        background-color: #D3D3D3;
        margin-top: 13%;
        width: 300px;
        height: 100px;
        border-radius: 90px;
        font-family: 'Pacifico', cursive;
        font-size: 50px;
        box-shadow: 3px 4px 2px rgb(7, 7, 7);
        cursor: pointer;
    }
    
    input#sair{
        background-color: #D3D3D3;
        margin-top: 13%;
        width: 300px;
        height: 100px;
        border-radius: 90px;
        font-family: 'Pacifico', cursive;
        font-size: 50px;
        box-shadow: 3px 4px 2px rgb(7, 7, 7);
        cursor: pointer;
    }
    
    div#rodape{
        background: chocolate;
    }
}